
.body {
    cursor: auto;
  }
  
  .barItem {
    list-style-type: none;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    background-color: #faf9f7; 
    padding: 10px;
  }
  
  .logo {
    width: 45px;
  }
  
  header li {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .formSection {
    padding: 10px;
    right: 0;
  }
  
  .input,
  .barItem input {
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
  }
  
  .input{
    border: #2f2f2f 1px;
  }
  
  .mainDiv {
    margin: auto;
    width: 30%;
  }
  
  h1 {
    text-align: center;
  }
  
  header a {
    text-decoration: none;
    color: black;
    display: inline-block;
  }
  
  
  
  
  .formSection {
    padding: 10px;
    right: 0;
  }
  
  .input, .barItem input{
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
  }
  .mainDiv {
    margin: auto;
    width: 30%;
  
  }
  
  h1{
    text-align: center;
  }
  

  header a{
    text-decoration:none;
    color:black;
    display:inline-block;
  }
  
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
  
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .nav__item--extra {
      flex-grow: 2;
    }
  
    .footer__addr {
      flex: 1 0px;
    }
  
    .footer__nav {
      flex: 2 0px;
    }
  } */
  
  
  #sidebar-multi-level-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 16rem; 
    height: 100vh;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  #sidebar-multi-level-sidebar.show {
    transform: translateX(0);
  }
  
  #sidebar-multi-level-sidebar .h-full {
    padding: 1rem; /* Adjust padding as needed */
    overflow-y: auto;
    background-color: #f9fafb; /* Change to desired background color */
  }
  path {
    height: 10px;
  }
  
  #sidebar-multi-level-sidebar ul {
    padding-left: 0;
    margin-top: 0;
  }
  
  #sidebar-multi-level-sidebar li {
    list-style: none;
  }
  
  #sidebar-multi-level-sidebar a {
    display: block;
    padding: 0.75rem 1rem; /* Adjust padding as needed */
    color: #4b5563; /* Change to desired text color */
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #sidebar-multi-level-sidebar a:hover {
    background-color: #e5e7eb; /* Change to desired hover background color */
  }
  
  /* Main Content */
  
  .p-4 {
    padding: 1rem; /* Adjust padding as needed */
  }
  
  .border-2 {
    border-width: 2px; /* Adjust border width as needed */
  }
  
  .border-gray-200 {
    border-color: #e5e7eb; /* Change to desired border color */
  }
  
  .border-dashed {
    border-style: dashed; /* Change to desired border style */
  }
  
  .rounded-lg {
    border-radius: 0.5rem; /* Adjust border radius as needed */
  }
  
  .mb-4 {
    margin-bottom: 1rem; /* Adjust margin as needed */
  }
  
  /* Customize other elements as needed */
  
  /* End of CSS */
  
  
  @import 'tailwindcss/base';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';
  
  @tailwind base;
