<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <div class="topBar">
                <ul class="barItem">
                    <li><a href="/">Home</a></li>
                    <li><a href="/create_acc">Create Acc</a></li>
                    <li><a href="/create_products">Add Products</a></li>
                    <li><a href="/edit"> Edit Products </a></li>
                    <li><a href="/delete_product">Delete Products</a></li>
                    <li><a href="/my_account"> My Account</a></li>
                </ul>
            </div>
    </header>
    <div class="formSction bearItem">
        <form class="barItem" action="/login" method="post">
            <input type="text" name="username" value="" placeholder="username" required>
            <input type="password" name="password" value="" placeholder="password" required>
            <input type="submit" name="loginButton" value="LOGIN">
        </form>

        <form action = "{{url_for('logout')}}" method="post">
            <button class="barItem input" style="margin-left:10px;">Sign Out</button>
            <input type="submit" name="signoutButton" value="Signout">
        </form>
    </div>
</body>
</html>
