{% extends 'base.html' %}

{% block body %}

<style>
  .body{
      margin-left: 32%;
      justify-content: center;
      text-align: center;
      max-width: 35%;
  }
  .input_field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .input_submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input_submit:hover {
    background-color: #45a049;
  }
</style>

<h1>Shopping Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
  {% if products %}
  <div class="container">
      <div class="product-details">
          <div class="images">
              {% for image in images %}
                  <img class="product-image" src="{{ image.image }}" alt="No images selected">
              {% endfor %}
          </div>
          
          <div class="product-info">
              <h1>{{ products[1] }}</h1>
              <hr>
              {% if price %}
              <ul>
                  <li><strong>Current Price:</strong> {{ price[0] }}</li>
                  <li style="color: rgb(42, 170, 42);"><strong>Discounted Price:</strong> {{ price[1] }}</li>
                  <li><strong>Time Remaining:</strong> {{ price[3] }}</li>
              </ul>
              {% endif %}
              <hr>
              <p>{{ products[2] }}</p>
              <p><strong>Warranty Period:</strong> {{ products[3] }}</p>
              <p><strong>Category:</strong> {{ products[4] }}</p>
              <p><strong>Inventory:</strong> {{ products[5] }}</p>
              <p><strong>Creator:</strong> {{ products[6] }}</p>
  
              <p>
                  <strong>Sizes:</strong>
                  <select name="sizes" id="sizes">
                      {% for size in sizes %}
                          <option value="{{ size.size }}">{{ size.size }}</option>
                      {% endfor %}
                  </select>
              </p>
              <p>
                  <strong>Colors:</strong>
                  <select name="colors" id="colors">
                      {% for color in colors %}
                          <option value="{{ color.color }}">{{ color.color }}</option>
                      {% endfor %}
                  </select>
              </p>
          </div>
      </div>
      
      <form class="add-cart-form" action="/cart" method="POST">
          <input type="hidden" name="clicked_product_id" value="{{ products[0] }}">
          <input type="submit" value="Add to Cart" class="add-to-cart-button">
      </form>
  </div>
  {% else %}
  <p>No products found.</p>
  {% endif %}
  

{% endblock %}
