<style>
 
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}
 
h1 {
    font-size: 24px;
    margin: 0;
}

.input_field {
  position: relative;
  left: 25%;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: table-caption;
  border: 1px blue;
  border-radius: 4px;
  box-sizing: border-box;
}

.input_submit {
  position: relative;
  left: 25%;
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input_submit:hover {
  background-color: #45a049;
}
.footer{
  width: 100%;
}
.new_footer_top{
width: 100%;
}
.orders{
  text-align: center;
}
.orders li{
            list-style: none;
}
hr{
  width: 50%;
}
</style>
{% extends "base.html" %}
{% block body %}
{% if session['type'] == 'customer' %}
<title>Complaints</title>
<body>
  {% if orders %}
  <h1>request a refund, return, or warrenty_period</h1>
    <div class="body">
        <form action="/complaint" method="POST">
            <input type="text" name="product_id" placeholder="Type the product ID that you would like to request" class="input_field"> <br>
            <input type="text" name="request" placeholder="Would you like to make a 'complaint', 'return', or talk about 'warranty_period'" class="input_field"> <br>
            <input type="text" name="words" placeholder="What would you like to say" class="input_field"> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>
    </div>

  
    <div class="orders">
        <h2>All Complaints </h2>
        <ul>
            {% for order in orders %}
            <li>
              Complaint ID: {{ order[0] }} <br>
              Complainter ID: {{ order[1] }} <br>
              Product Title: {{ order[2] }} <br>
              Date 3: {{ order[3] }} <br>
              Product ID: {{ order[4] }} <br>
              <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
    {%else%}
    <h1>You must order a product to leave a complaint</h1>
    {% endif %}


{% endif %}

{% if session['type'] == 'vendor' %}
<title>Complaints</title>
<body>
  <form action="/remove_complaint" method="POST">
    <input type="text" name="product_id" placeholder="Type the product ID that you would like to request" class="input_field"> <br>
    <input type="submit" value="Submit" class="input_submit">
</form>
  {% if orders %}
  <h1>All of Your Complaints</h1>
    <div class="orders">
        <ul>
            {% for order in orders %}
            <li>
                Complaint ID: {{ order[0] }} <br>
                Complainter ID: {{ order[1] }} <br>
                Product Title: {{ order[2] }} <br>
                Date 3: {{ order[3] }} <br>
                Product ID: {{ order[4] }} <br>
<hr>
            </li>
            {% endfor %}
        </ul>
    </div>
    {%else%}
    <h1>there are no complaints</h1>
    {% endif %}

{% endif %}



{% if session['type'] == 'admin' %}
<title>Admin Complaints/ Returns Page</title>
<h1> Welcome Admin {{session['username']}}</h1>

<body>
    <div class="body" >
        <form action="/complaint" method="POST">
            <input type="text" name="product_id" placeholder="Accept this complaint with the product_id " class="input_field"> <br>
            <input type="text" name="request" placeholder="is it a 'complaint'/ 'return' / 'warranty_period'?" class="input_field"> <br>
            <input type="text" name="words" placeholder="What would you like to say, EX: I accept this because..." class="input_field"> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>
        <form action="/reject" method="POST">
          <input type="text" name="product_id" placeholder="reject complaint with product_id " class="input_field"> <br>
          <input type="submit" value="Submit" class="input_submit">
      </form>
    </div>

    {% if orders %}
    <div class="orders">
        <h2>Pending Complaints</h2>
        <ul>
            {% for order in orders %}
            <li>
              Complaint ID: {{ order[0] }} <br>
              Complainter ID: {{ order[1] }} <br>
              Product Title: {{ order[2] }} <br>
              Date 3: {{ order[3] }} <br>
              Product ID: {{ order[4] }} <br>
            <hr>
          </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endif %}

{% endblock %}


</body>


</html>