<style>
    .body{
        margin: auto;
    }
    .input_field {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: table-caption;
      border: 1px blue;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .input_submit {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .input_submit:hover {
      background-color: #45a049;
    }
</style>
{% extends "base.html"%}
{% block body %}
<div class="body">
    <form action="/delete_product" method="POST">
        <input type="number" name="product_id" placeholder="product_id" class="input_field"> <br>
        <input type="submit" value="Submit" class="input_submit">
    </form>
    <h2>All products that you as a {{session['type']}} can access</h2>
    {%for i in edit_products %}
        <div class="products">
            <ul>
                <li>Item Id: {{i[0]}}</li>
                <ul>
                    <li>Item Name: {{i[1]}}</li>
                    <li>Item description: {{i[2]}}</li>
                    <li>images: {{i[3]}}</li>
                    <li>warrenty_period: {{i[4]}}</li>
                    <li>category: {{i[5]}}</li>
                    <li>colors: {{i[6]}}</li>
                    <li>sizes: {{i[7]}}</li>
                    <li>inventory: {{i[8]}}</li>
                    <li>creator: {{i[9]}}</li>

                </ul>
            </ul>
        </div>
    {%endfor%}
    </div>
</div>
{%endblock%}

