<style>
  .body{
      margin: auto;
      max-width: 50%;
  }
  

  .input_field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .input_submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    .input_submit:hover {
      background-color: #45a049;
    }

    .btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.success {
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

  .input_submit:hover {
    background-color: #45a049;
  }
</style>
{% extends "base.html"%}
{% block body %}
<div class="body">
<form action="/edit" method="POST">
  <input type="text" name="product_id" placeholder="product_id" class="input_field"> <br>
  <input type="text" name="title" placeholder="title" class="input_field"> <br>
  <input type="text" name="description" placeholder="description" class="input_field"> <br>
  <input type="text" name="images" placeholder="images" class="input_field"> <br>
  <input type="text" name="warranty_period" placeholder="warranty_period in days" class="input_field"> <br>
  <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="Animals">Animals</option>
        <option value="Clothing">Clothing</option>
        <option value="Fruits and vegetables">Fruits and vegetables</option>
        <option value="Sports">Sports</option>
        <option value="Plants">Plants</option>
        <option value="Jewelry">Jewelry</option>
        <option value="Letters and numbers">Letters and numbers</option>
        <option value="Insects and mammals">Insects and mammals</option>
        <option value="Planets">Planets</option>

    </select>
  <input type="text" name="colors" placeholder="colors" class="input_field"> 
  <input type="text" name="sizes" placeholder="sizes" class="input_field"> <br>
  <input type="number" name="inventory" placeholder="inventory" class="input_field"> <br>
  <input type="submit" value="Submit" class="input_submit">
</form>
  
<form action="/discount">
  add discounts:
  <input type="text" name="product_id" placeholder="product_id" class="input_field"> <br>
  <input type="text" name="current_price" placeholder="current price" class="input_field"> <br>
  <input type="text" name="new_price" placeholder="new price" class="input_field"> <br>
  <input type="text" name="time_left" placeholder="length of time for discount in days " class="input_field"> 
  <input type="submit" value="Submit" class="input_submit">
</form>


<h2>All products that you as a {{session['type']}} can access</h2>
{% for i in edit_products %}
<div class="flex products">
    <ul>
       <i ><li>Product ID: {{ i[0] }}</li></i> 
       <strong><li>Item Name: {{ i[1] }}</li></strong> 
        <li>Item Description: {{ i[2] }}</li>
        <ul>
            {% for image in images %}
                {% if image.product_id == i[0] %}
                <li>Images: {{ image.image }}</li>
                {% endif %}
            {% endfor %}
          </ul>
        </li>
        <li>Warranty Period: {{ i[3] }}</li>
        <li>Category: {{ i[4] }}</li>
        <li>Sizes:
            <ul>
                {% for size in sizes %}
                    {% if size.product_id == i[0] %}
                        <li>{{ size.size }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li>Colors:
            <ul>
                {% for color in colors %}
                    {% if color.product_id == i[0] %}
                        <li>{{ color.color }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li>Inventory Left: {{ i[5] }}</li>
        <li>Creator: {{ i[6] }}</li>
        {% if price %}
            <li>Current Price: {{ price[0] }}</li>
            <li style="color: rgb(42, 170, 42);">Discounted Price: {{ price[1] }}</li>
            <li>Time Remaining: {{ price[3] }}</li>
        {% endif %}
    </ul>
</div>
<hr>
{% endfor %}


<!-- COLORS SIZES images -->


</div>
{% endblock %}
</div>
<script>
  function addTextBox() {
    var textBox = document.createElement("input");
    textBox.type = "text";
    document.body.appendChild(textBox);
}
</script>