{% extends 'base.html' %}

{% block body %}

{% if session['loggedin'] == True %}
    <h1>This is the accounts page. You are logged in.</p>
    <h1>Welcome, {{session['username']}}</h1>
     <h1> First: {{session['first']}}</h1>
     <h1> Last:  {{session['last']}}</h1>
     <h1> Email:  {{session['email']}}</h1>
    <h1>You are a {{session['type'] }}</h3> 
  {%else%}
    <h1>This is the accounts page. <br> You are NOT logged in.</p>
    <h1>please loggin after signing up in the register page</h3>

{% endif %}
{% endblock %}
