
<style>
.body{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
}
/* class inputs */
.input_field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input_submit:hover {
    background-color: #45a049;
}
.search{ 
    border: solid 1px;

}
.products{
    position: relative;
    border: solid 1px;
    border-radius: 25px;
    margin: 20px;
    list-style-type: none;
    background-color: rgb(217, 216, 216);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around
}
ul {
    list-style-type: none;
}


/* DROP DOWN */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8;
    font-size: 8;
    border: none;
    cursor: pointer;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.cart_button{
    width: 20%;
}

img{
    height: 200px;
    height: 200px;
    object-fit: cover ;
    overflow: hidden;
}
.test {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}
.go_to_cart{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
}
.search_bar{
    justify-items: stretch;
    width: 50%;
}

</style>
{%extends "base.html"%}
{%block body%}
<div class="body">
    <div class="search">
        <form class="search_bar" action="/search" method="POST">
            <input type="text" name="product_search" placeholder="search for a product, or vendor" class="input_field"> <br>
            <div id="products-list"></div>
            <input type="submit" value="search" class="input_submit">
            <input type="submit" value="reset serach" class="input_submit">

        </form> 
        <form action="filter">
            Filter categories:
            <select name="category" id="category">
                <option value="Animals">Animals</option>
                <option value="Clothing">Clothing</option>
                <option value="Fruits and vegetables">Fruits and vegetables</option>
                <option value="Sports">Sports</option>
                <option value="Plants">Plants</option>
                <option value="Jewelry">Jewelry</option>
                <option value="Letters and numbers">Letters and numbers</option>
                <option value="Insects and mammals">Insects and mammals</option>
                <option value="Planets">Planets</option>
            </select>
            <input type="submit" value="Submit" class="input_submit">

        
        </form>        
    </div>
    {% for product in products %}
<div class="flex products">
    <ul>
        <li>Item Name: {{ product[1] }}</li>
        <li>Item Description: {{ product[2] }}</li>
        <!-- You can add logic here to display multiple images -->
        <li>
          
            {% for image in images %}
                {% if image.product_id == product[0] %}
                    <img src="{{ image.image }}" alt="No images selected">
                {% endif %}
            {% endfor %}
        </li>
        <li>Warranty Period: {{ product[4] }}</li>
        <li>Category: {{ product[5] }}</li>
        <li>
            Sizes:
            <select name="sizes" id="sizes">
                {% for size in sizes %}
                {% if size.product_id == product[0] %}
                <option value="{{ size.size }}">{{ size.size }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </li>
        <li>
            Colors:
            <select name="colors" id="colors">
                {% for color in colors %}
                {% if color.product_id == product[0] %}
                <option value="{{ color.color }}">{{ color.color }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </li>
        <li>Inventory Left: {{ product[8] }}</li>
        <form class="cart_button" action="/individual" method="POST">
            <input type="hidden" name="clicked_product_id" value="{{ product.product_id }}">
            <input type="submit" value="Go to Cart" class="go_to_cart">
        </form>        
    </ul>
</div>
{% endfor %}
{%endblock%}
